* {
    margin: 0;
    padding: 0;
}


.services a {
    text-decoration: none;
    font-family: Epilogue;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
}
.services button{
    font-family: Epilogue;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    background: #009688;
    border-radius: 5px; 
    padding: 19px 39px 19px 39px;
    border: none;
    color: white;
}
nav {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.services {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
}
/* Hero-section */

.decription-hero {
    margin-top: 80px;
    padding-right: 10px;
    /* width: 50%; */
}
.decription-hero h1{
    font-family: 'Manrope', sans-serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 20px;
}

.decription-hero p{
    font-family: Epilogue;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: #4F4F4F;
    margin-bottom: 20px;
}
.decription-hero button {
    font-size: 14px;
    background: #009688;
    border-radius: 5px;
    border: none;
    padding: 19px 39px 19px 39px;
    color: white;
}
.hero-section {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img-hero img {
   width: 100%;
} 
.container-img-text img{
    width: 100%;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1091px) {
    .hero-section {
        display: flex;
        flex-wrap: wrap;
    }
    .img-hero img {
        width: 150%;
        margin-left: -80px;
        margin-top: 40px;
    } 
    nav a, button{
        display: none;
        justify-content: space-between;
        align-items: center;
        height: 100px;
    }
}